.enter {
  display: flex;
  align-items: center;
  min-width: 203px;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #1f1e25;

  span {
    padding-left: 10px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width) {
  .enter {
    align-items: flex-start;
    min-width: auto;

    span {
      display: none;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}

@media (max-width: $mobile-width) {
  .enter {
    svg {
      width: 14px;
      height: 16px;
    }
  }
}
