.products {
  padding-left: 98px;
  padding-right: 98px;
  margin-bottom: 96px;

  overflow: hidden;
}

.products__navigation {
  display: flex;
}

.products__nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  min-height: 93px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: #ffffff;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

  cursor: pointer;


  span {
    padding-left: 10px;

    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: #1f1e25;
  }

  &--active {
    background-color: #f6f7ff;
  }

  &:hover,
  &:focus {
    background-color: #f6f7ff;
  }

  &:active {
    background-color: #d3d4db;
  }
}

.products__list {
  @include list-reset;

  display: flex;
}

.products__item {
  display: flex;
  justify-content: space-between;

  flex-shrink: 0;
  width: 100%;
  min-height: 410px;
  margin-right: 98px;
  padding-top: 53px;
  padding-left: 70px;
  padding-right: 135px;

  background-color: #f6f7ff;

  &:last-child {
    margin-right: 0;
  }
}

.products__wrapper {
  width: 450px;
}

.products__slogan {
  margin: 0;
  margin-bottom: 28px;

  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  color: #1f1e25;

  &--credits {
    width: 290px;
  }

  &--insurance {
    width: 340px;
  }
}

.products__features-list {
  @include list-reset;

  width: 420px;
  margin-bottom: 34px;

  &--online {
    width: 390px;
  }
}

.products__features-item {
  padding-left: 21px;
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #1f1e25;

  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: -1px 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.products__link {
  width: 198px;
  min-height: 51px;
  margin-bottom: 20px;
}

.products__offer {
  width: 340px;

  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #1f1e25;

  a {
    font-weight: 500;
    text-decoration: underline;
    color: #1f1e25;
  }
}

.products__image-container {
  width: 45.6%;
  height: 290px;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

@media (max-width: $tablet-width) {
  .products {
    position: relative;

    padding-left: 0;
    padding-right: 0;
    margin-bottom: 69px;
  }

  .products__navigation {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 10;

    transform: translate(-50%, 0);
  }

  .products__list {
    transition: all ease-out 0.2s;
  }

  .products__item {
    min-height: 380px;
    margin-right: 0;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 55px;
  }

  .products__slogan {
    width: 335px;
    margin-bottom: 23px;

    font-size: 18px;
    line-height: 25px;

    &--credits {
      width: 240px;
    }

    &--insurance {
      width: 280px;
    }
  }

  .products__features-list {
    width: 355px;
    margin-bottom: 30px;

    &--online {
      width: 320px;
    }
  }

  .products__features-item {
    padding-left: 21px;
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 21px;
  }

  .products__link {
    min-height: 48px;
  }

  .products__offer {
    width: 305px;
    font-size: 16px;
    line-height: 22px;
  }

  .products__image-container {
    width: 49.4%;
    height: 260px;
  }

  .products__nav-btn {
    display: block;
    width: 8px;
    min-height: 8px;
    margin-right: 8px;

    border-radius: 50%;
    background-color: #2028b6;

    span {
      display: none;
    }

    svg {
      display: none;
    }

    &--active {
      background-color: #e0e0e0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      background-color: #2028b6;
    }

    &:active {
      background-color: #2028b6;
    }
  }
}

@media (max-width: $mobile-width) {
  .products {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 53px;
  }

  .products__item {
    position: relative;

    min-height: 362px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 55px;
  }

  .products__wrapper {
    width: 100%;
  }

  .products__slogan {
    width: 270px;
    margin-bottom: 21px;

    font-size: 16px;
    line-height: 22px;

    &--credits {
      width: 210px;
    }

    &--insurance {
      width: 250px;
    }

    &--online {
      width: 230px;
    }
  }

  .products__features-list {
    position: relative;
    z-index: 10;

    width: 80%;
    margin-bottom: 25px;

    &--online {
      width: 80%;
    }
  }

  .products__features-item {
    padding-left: 15px;
    margin-bottom: 12px;

    font-size: 14px;
    line-height: 18px;

    background-position: -2px 2px;
  }

  .products__offer {
    width: 87%;
    font-size: 14px;
    line-height: 20px;
  }

  .products__link {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    min-height: 43px;

    span {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .products__image-container {
    position: absolute;
    top: 98px;
    right: 0;

    width: 89px;
    height: 113px;
  }

  .products__navigation {
    bottom: 10px;
  }

  .products__nav-btn {
    width: 6px;
    min-height: 6px;
    margin-right: 6px;
  }
}
