.promo {
  position: relative;

  margin-bottom: 60px;

  overflow-x: hidden;
}

.promo__list {
  @include list-reset;

  display: flex;

  transition: all ease-out 0.2s;
}

.promo__item {
  position: relative;

  flex-shrink: 0;
  width: 100%;
  min-height: 400px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  &--main {
    background-image: url("../img/promo-bg-main-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-bg-main-desktop@2x.jpg");
    }
  }

  &--man {
    background-image: url("../img/promo-bg-man-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-bg-man-desktop@2x.jpg");
    }
  }

  &--girl {
    background-image: url("../img/promo-bg-girl-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-bg-girl-desktop@2x.jpg");
    }
  }
}

.promo__wrapper {
  padding-left: 268px;
}

.promo__title {
  max-width: 400px;
  margin: 0;
  margin-bottom: 8px;
  padding-top: 102px;

  font-size: 54px;
  font-weight: 700;
  line-height: 63px;
  color: #1f1e25;

  &--light {
    color: #f6f7ff;
  }
}

.promo__slogan {
  max-width: 400px;
  margin: 0;
  margin-bottom: 34px;

  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #1f1e25;

  &--light {
    color: #f6f7ff;
  }
}

.promo__link {
  width: 243px;
  height: 53px;
  margin-bottom: 30px;

  span {
    font-size: 18px;
    line-height: 21px;
  }

  &--light {
    width: 234px;
  }
}

.promo__navigation {
  position: absolute;
  bottom: 40px;
  left: 50%;

  display: flex;

  transform: translateX(-50%);
}

.promo__nav-btn {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0;
  margin-right: 8px;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: #2028b6;

  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    background-color: #f6f7ff;
  }
}

@media (max-width: $tablet-width) {
  .promo {
    margin-bottom: 0;
  }

  .promo__item {
    min-height: 300px;

    &--main {
      background-image: url("../img/promo-bg-main-tablet@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/promo-bg-main-tablet@2x.jpg");
      }
    }

    &--man {
      background-image: url("../img/promo-bg-man-tablet@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/promo-bg-man-tablet@2x.jpg");
      }
    }

    &--girl {
      background-image: url("../img/promo-bg-girl-tablet@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/promo-bg-girl-tablet@2x.jpg");
      }
    }
  }

  .promo__wrapper {
    padding-left: 86px;
  }

  .promo__title {
    max-width: 350px;
    margin-bottom: 6px;
    padding-top: 65px;

    font-size: 46px;
    line-height: 54px;
  }

  .promo__slogan {
    max-width: 350px;
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 21px;
  }

  .promo__link {
    width: 206px;
    height: 48px;
    margin-bottom: 30px;

    span {
      font-size: 16px;
      line-height: 19px;
    }

    &--light {
      width: 206px;
    }
  }

  .promo__navigation {
    bottom: 15px;
  }
}

@media (max-width: $mobile-width) {
  .promo__item {
    min-height: 226px;

    &--main {
      background-image: url("../img/promo-bg-main-mobile@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/promo-bg-main-mobile@2x.jpg");
      }
    }

    &--man {
      background-image: url("../img/promo-bg-man-mobile@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/promo-bg-man-mobile@2x.jpg");
      }
    }

    &--girl {
      background-image: url("../img/promo-bg-girl-mobile@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/promo-bg-girl-mobile@2x.jpg");
      }
    }
  }

  .promo__wrapper {
    padding-left: 15px;
  }

  .promo__title {
    max-width: 200;
    margin-bottom: 6px;
    padding-top: 39px;

    font-size: 38px;
    line-height: 45px;
  }

  .promo__slogan {
    max-width: 200;
    margin-bottom: 26px;

    font-size: 16px;
    line-height: 19px;

    &--confidence {
      max-width: 140px;
    }
  }

  .promo__link {
    width: 188px;
    height: 43px;
    margin-bottom: 30px;

    span {
      font-size: 14px;
      line-height: 16px;
    }

    &--light {
      width: 188px;
    }
  }

  .promo__navigation {
    bottom: 10px;
  }

  .promo__nav-btn {
    width: 6px;
    height: 6px;
    margin-right: 6px;
  }
}
