.site-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  &--column {
    flex-direction: column;
  }
}

.site-list__item {
  margin-right: 25px;
  margin-bottom: 35px;

  &:last-child {
    margin-right: 0;
  }

  &--column {
    margin-right: 0;
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.site-list__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #1f1e25;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--column {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
}

@media (max-width: $tablet-width) {
  .site-list__item {
    margin-right: 20px;
    margin-bottom: 26px;

    &--column {
      margin-bottom: 9px;
    }
  }

  .site-list__link {
    font-size: 14px;
    line-height: 16px;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }

    &--column {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media (max-width: $mobile-width) {
  .site-list {
    @include list-reset;

    display: flex;
    flex-direction: column;
  }
}
