.user-message {
  align-self: start;
  width: 500px;
  padding-left: 59px;
  padding-right: 59px;
  padding-top: 53px;
  padding-bottom: 60px;

  border-radius: 4px;

  background-color: #f6f7ff;
}

.user-message__message {
  margin: 0;
  margin-bottom: 20px;

  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  color: #1f1e25;
}

.user-message__proposal {
  width: 255px;
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #394959;
}

@media (max-width: $tablet-width) {
  .user-message {
    width: 100%;
    padding-left: 59px;
    padding-right: 59px;
    padding-top: 53px;
    padding-bottom: 60px;
  }

  .user-message__message {
    width: 350px;

    font-size: 22px;
    line-height: 31px;
  }

  .user-message__proposal {
    width: 255px;
  }
}

@media (max-width: $mobile-width) {
  .user-message {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 37px;
    padding-bottom: 37px;
  }

  .user-message__message {
    width: 80%;

    font-size: 18px;
    line-height: 25px;
  }

  .user-message__proposal {
    width: 97.5%;
  }
}
